.Header {
    max-width: 100%;
    width: 95%;
    margin-top: -10px;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__nav {
        width: 65%;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__list {
        color: #985ff5;
        list-style-type: none;
        font-size: 16px;
    }

    .navbarLogo {
        display: flex;
        align-items: start;
        justify-content: flex-start;
        width: 60px;
        height: 60px;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        border-radius: 50%;
        margin: 20px 0px 10px 15px;

        &__img {
            border-radius: 50px;
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;

            position: relative;
            width: 100%;
        }
    }


}