.Header {
    width: 100%;
    height: 150px;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    &__nav {
        width: 18%;
        display: flex;
        flex-direction: row;
    }

    &__list {
        color: #985ff5;
        list-style-type: none;
        font-size: 16px;
    }

    .navbarLogo {
        display: flex;
        align-items: start;
        justify-content: flex-start;
        width: 60px;
        height: 60px;
        background: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
        border-radius: 50%;
        margin: 20px 0px 10px 15px;

        &__img {
            border-radius: 50px;
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
            //    height: 100%;
            position: relative;
            width: 100%;
        }
    }

    .Loisir {
        width: 100%;
        height: 120px;
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        color: #985ff5;
        margin-bottom: 22px;
        font-size: 28px;
        font-weight: bold;


        &__text {
            font-size: 28px;
            font-weight: bold;
            display: block;
            color: #985ff5;
            margin-left: 12px;
        }
    }
}